aniso8601==1.1.0
Django==1.9.2
Flask==0.10.1
flask-mysql==1.3
Flask-RESTful==0.3.5
flask-sqlalchemy==2.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mysql-connector-python-rf==2.1.3
python-dateutil==2.4.2
pytz==2015.7
six==1.10.0
SQLAlchemy==1.0.12
virtualenv==14.0.6
Werkzeug==0.11.4
